# Git files
.git
.gitattributes
.gitignore
.lfsconfig
.cbfProject

#build files
docker-compose.yml
bin/*
vols*/*
cbf/CRF.properties
CBF.properties
scanned.paths
*.loaded
PluginUpdator
plugins.txt

# Information files
LICENSE
README.md
