# Git files
.git
.gitattributes
.gitignore
.lfsconfig
.cbfBlacklist
.cbfProject

#build files
~*
docker-compose.*
bin/*
vols*/*
**/CRF.properties
**/CBF.properties
**/scanned.paths
**/*.loaded
scanned.paths
*.loaded
PluginUpdator
plugins.txt

# Information files
LICENSE
README.md
